[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
python-dotenv = "*"
opencv-python = "*"
numpy = "*"
img2pdf = "*"
imutils = "*"
scipy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
